.game {
    position: relative;

    @include tablet {
       display: grid;
       grid-template-columns: 50% 48%;
       grid-template-rows: 100vh;
       column-gap: 2%;
    }

    @include desktop {
        grid-template-columns: 39% 59%;
        column-gap: 2%;
    }

    &__content {
        @include tablet {
            overflow-y: auto;
        }
    }

    &__container {
        @include desktop {
            display: grid;
            grid-template-columns: 42% 58%;
        }
    }

    &__item-display {
        margin-top: 20px;
        background-color: $secondary-bg-color;
        width: 100%;
        box-sizing: border-box;

        border-top: 2px solid $black-color;
        border-bottom: 2px solid $black-color;

        @include tablet {
            border-left: 2px solid $black-color;
        }
    }

    &__button {
        @include font-rammeto(16px);
        box-sizing: border-box;
        width: 50%;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $black-color;
        
        cursor: pointer;

        &--left-inactive {
            border-right: 2px solid $black-color;
        }

        &--left-active {
            border-bottom: none;
        }

        &--right-inactive {
            border-left: 2px solid $black-color;
        }

        &--right-active {
            border-bottom: none;
        }
    }

    &__enemy {
        margin-bottom: 12px;
    }

    &__enemy-name {
        @include font-rammeto(16px);
        text-align: center;
        margin-bottom: 0;
        margin-top: 20px;
    }
}
