.lobby {
    position: relative;
    max-width: 300px;
    margin: 40px auto 0 auto;

    @include tablet-small {
        max-width: none;
        margin: 20px 0 0 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    } 

    &__hourglass {
        display: block;
        width: 63px;
        height: 70px;
    }

    &__content-container {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    &__content {
        width: 200px;
        margin-left: 20px;
    }

    &__content-paragraph {
        @include font-fahkwang(15px);
        margin-top: 0;
        margin-bottom: 10px;
    }
}
