.message {
    @include font-fahkwang(15px);
    padding: 3px 10px;

    &__message-user {
        font-weight: 600;
        &::after {
            content: $nbsp;
        }
    }

    &__special {
        padding: 5px;
        font-style: italic;
        text-align: center;
        color: $dark-color;
    }
}
