$primary-bg-color: #4f98ca;
$secondary-bg-color: #d0d0d0;

$primary-color: #50d890;
$hover-color: #85e4b1;
$click-color: #55e699;

$secondary-color: #e3cc55;
$secondary-hover-color: #eee099;
$secondary-click-color: #d9c459;

$alert-color: #d85950;
$alert-hover-color: #e48b85;
$alert-click-color: #d24c42;

$link-color: #282734;
$link-hover-color: #19187F;

$disabled-color: #a4a4a4;

$black-color: #000000;
$dark-color: #272727;
$white-color: #ffffff;

$dark-transparent-color: rgba(0, 0, 0, 0.4);

$nbsp: "\00a0\00a0";
