$primary-bg-color: #4f98ca;
$secondary-bg-color: #d0d0d0;

$primary-color: #50d890;
$click-color: #55e699;
$hover-color: #85e4b1;

$secondary-color: #e3cc55;

$disabled-color: #A4A4A4;
$alert-color: #d85950;

$black-color: #000000;
$dark-color: #272727;
$white-color: #ffffff;

$dark-transparent-color: rgba(0, 0, 0, 0.4);

$nbsp: "\00a0\00a0";
