$color-blue: #4f98ca;

$primary-color: #50d890;
$click-color: #55e699;
$hover-color: #85e4b1;

$secondary-color: #e3cc55;

$disabled-color: #A4A4A4;
$alert-color: #d85950;

$color-grey: #d0d0d0;
$color-black: #000000;
$color-dark: #272727;
$color-white: #ffffff;

$nbsp: "\00a0\00a0";
