@mixin modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $dark-transparent-color;
}

@mixin modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-bg-color;
}

@mixin modal-exit-button {
    border: 1px solid $black-color;
    background-color: $secondary-color;
    width: 23px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;

    &:hover {
        background-color: $secondary-hover-color;
        cursor: pointer;
    }

    &:active {
        background-color: $secondary-click-color;
    }
}

@mixin button($font-size) {
    @include font-rammeto($font-size);
    color: $black-color;

    &:hover {
        cursor: pointer;
    }
}

@mixin main-button($font-size) {
    @include button($font-size);
    background-color: $primary-color;

    &:hover {
        background-color: $hover-color;
    }

    &:active {
        background-color: $click-color;
    }

    &:disabled {
        background-color: $disabled-color;
    }
}

@mixin nope-button($font-size) {
    @include button($font-size);
    background-color: $alert-color;

    &:hover {
        background-color: $alert-hover-color;
    }

    &:active {
        background-color: $alert-click-color;
    }

    &:disabled {
        background-color: $alert-click-color;
    }
}
